body {
    background: green;
    height: 100%;
    padding: 0 150px 0 150px;
}

html {
    height: 100%;
}

#table {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
    padding: 35px 180px 92px 180px;
    margin-top: -8px;
    margin-bottom: -8px;
    border-radius: 500px;
}

#dealer-hand, #player-hand {
    height: 200px;
    width: auto;
    background: gray;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.buttons {
    text-align: center;
    font-size: 10em;
    margin-top: -110px;
    margin-left: -50px;
}

.message {
    margin-top: -65px;
    line-height: normal;
}

.wins {
  margin-top: -10px
}

#dealer-hand>img, #player-hand>img {
}

#homeButton {
  color: white;
}

td {
    border: 1px solid white;
}

#placeBets {
    float: right;
    margin-top: -80px;
}

.card {
  height: 95%;
  padding: 5px;
}

.bet {
  margin-left: -20px;
  margin-right: 15px;
}
